<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--ajax-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<h1>problem</h1>
<form name="problem_form" id="1">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title1">
    <input type="text" name="content" value="content1">
</form>
<form name="problem_form" id="2">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title2">
    <input type="text" name="content" value="content2">
</form>
<form name="problem_form" id="3">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="4">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="5">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="6">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="7">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="8">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="9">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="10">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="11">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="12">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="13">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="14">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="15">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="16">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="17">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="18">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="19">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="20">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="21">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="22">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="23">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="24">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>
<form name="problem_form" id="25">
    <input type="button" value="delete" onclick="deleteForm(this);">
    <input type="text" name="title" value="title3">
    <input type="text" name="content" value="content3">
</form>

<input type="button" value="test" onclick="sthDo();">
<input type="button" value="add" onclick="add();">
<input type="button" value="submit" onclick="submit();">
<input type="button" value="ajaxtest" onclick="ajaxTest();">

<script>
    function ajaxTest(){
        let forms = $("form[name=problem_form]")
        let params = "";
        for(let form of forms){
            $.ajax({
                type : "GET",            // HTTP method type(GET, POST) 형식이다.
                url : "/problem/ajax",      // 컨트롤러에서 대기중인 URL 주소이다.
                data : params,            // Json 형식의 데이터이다.
                async : true,
                success : function(res){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                    console.log(form.id)
                    form.remove();
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            });
        }

    }


    function submit() {
        let form = document.createElement("form");
        form.action = "/problem_result";
        form.method = "post";
        form.style = "display:none;"

        let csrf_token = document.createElement("input");
        csrf_token.type = "hidden";
        // csrf_token.value = {{csrf_token}};
        csrf_token.name = "csrf_token";

        let input = document.createElement("input");
        let problem_list = [];
        let problem_form = $("form[name=problem_form]");
        for (let i = 0; i < problem_form.length; i++) {
            console.log(i);
            // validation
            console.log(problem_form.eq(i).children("input[name=title]").val())
            console.log(problem_form.eq(i).children("input[name=content]").val())
            problem_list.push(problem_form.eq(i).serializeArray())
        }
        problem_list.forEach(val => console.log(val));
        console.log(problem_list)
        let jsonString = JSON.stringify(problem_list);
        console.log(jsonString);

        input.type = "text";
        input.value = jsonString;
        input.name = "data";
        form.appendChild(input);
        document.getElementsByTagName("body")[0].appendChild(form);
        form.submit();
    }

    function deleteForm(obj) {
        obj.parentElement.remove();
    }

    function add() {
        let http = '<form name="problem_form">\n' +
            '      <input type="button" value="delete" onclick="deleteForm(this);">\n' +
            '      <input type="text" name="title" value="">\n' +
            '      <input type="text" name="content" value="">\n' +
            '  </form>'

        $("form[name=problem_form]").last().after(http);
    }

    function sthDo() {
        let problem_list = [];
        let problem_form = $("form[name=problem_form]");
        for (let i = 0; i < problem_form.length; i++) {
            console.log(i);
            // validation
            console.log(problem_form.eq(i).children("input[name=title]").val())
            console.log(problem_form.eq(i).children("input[name=content]").val())
            problem_list.push(problem_form.eq(i).serializeArray())
        }
        problem_list.forEach(val => console.log(val));
        console.log(problem_list)
        let jsonString = JSON.stringify(problem_list);
        console.log(jsonString);
        let jsonToList = JSON.parse(jsonString);
        console.log(jsonToList);
    }
</script>
</body>
</html>