<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <!-- KaTeX dependency -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css" integrity="sha256-M6KFoDq9eUpmogkDgw6+3R3ZgUPSuFXnQyr8tskSfQs=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js" integrity="sha256-FyuFDgL3AT2Wi7dlv82fSVvxe2rPx1rRSVtMOWeRp6k=" crossorigin="anonymous"></script>

    <!-- Quill dependency -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/static/summernote/js/mathquill4quill.js"></script>

    <!-- MathQuill dependency -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@edtr-io/mathquill@0.11.0/build/mathquill.css" integrity="sha256-Qy/E+9TDDKI7fQ+y2hHMCBV96QiZs9mXWMOrD+/14IU=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@edtr-io/mathquill@0.11.0/build/mathquill.min.js" integrity="sha256-1XldAnavTLoExr6gc0l1JD8cIzqRYhbi1eksEWsYdpY=" crossorigin="anonymous"></script>

    <!-- mathquill4quill include -->
    <link rel="stylesheet" href="/static/summernote/css/mathquill4quill.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <!-- Image resize&drop module -->
    <script src="/static/summernote/js/image-resize.min.js"></script>
    <script src="/static/summernote/js/image-drop.min.js"></script>

    <!-- bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<body>
<!--<div id="editor_parent" style="width:400px; float:left;">-->
<!--    <div id="editor"></div>-->
<!--</div>-->
<!--<div id="preview_feature" style="float:left; margin-left:10px; width:400px; line-height:1em; border: 1px solid black;">-->
<!--    <p>Preview contents</p>-->
<!--</div>-->
<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->

<div class="container">
    <h1>quill</h1>
    <input type="button" value="add" onclick="addForm();">
    <input type="button" value="submit" onclick="ajaxSubmit();">
    <hr>
    <div name="problem_list">
        <form name="quill_form">
            <div name="quill_editor" style="border:black solid 1px; width:400px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="modalOpen(this)">값을 입력하세요.</div>
            <input type="text" value="subject1" name="subject1">
            <input type="text" value="subject2" name="subject2">
            <input type="text" value="subject3" name="subject3">
        </form>
    </div>



</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">(보기, 선지, 해설) 입력</h1>
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="modalSave()"></button>-->
            </div>
            <div class="modal-body">
                <div id="editor_parent" style="width:400px; float:left;">
                    <div id="editor"></div>
                </div>
                <div id="preview_feature" style="float:left; margin-left:10px; width:400px; line-height:1em; border: 1px solid black;">
                    <p>Preview contents</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="modalClose()">취소</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="modalSave()">입력 완료</button>
            </div>
        </div>
    </div>
</div>

<script src="/static/summernote/js/index.js"></script>
<script>
    function ajaxSubmit(){
        let forms = $("form[name=quill_form]")
        let outputList = [];
        for(let i = 0; i < forms.length; i++){
            let form = forms.eq(i);
            let form_list = form.serializeArray();
            form_list.push({"name":"content", "value":form.children("div")[0].innerHTML})
            outputList.push(form_list);
        }
        let outputJson = JSON.stringify(outputList);
        console.log(outputJson);
    }

    function addForm(){
        let form = document.createElement("form");
        form.name = "quill_form";
        let problem_list = document.getElementsByName("problem_list")
        problem_list[0].appendChild(form);
        form.appendChild(document.createElement("hr"));

        let div = document.createElement("div")
        div.name = "quill_editor";
        div.setAttribute("style", "border:black solid 1px; width:400px;")
        div.setAttribute("data-bs-toggle", "modal");
        div.setAttribute("data-bs-target", "#staticBackdrop");
        div.setAttribute("onClick", "modalOpen(this);");
        div.innerText = "값을 입력하세요."
        form.appendChild(div);
        for(let i = 1; i < 4; i++){
            let input = document.createElement("input")
            input.value = "subject"+i;
            input.name = "subject"+i;
            input.type = "text";
            form.appendChild(input);
        }



    }

    const list = [];
    function modalOpen(obj) {
        list.push(obj);
        if(obj.innerHTML !== "값을 입력하세요.") quill.root.innerHTML = obj.innerHTML;
        else quill.root.innerHTML = "";
    }

    function modalSave() {
        let targetObj = list.pop();
        let contents = quill.root.innerHTML;
        targetObj.innerHTML = contents;
    }

    function modalClose(){
        list.pop()
    }

</script>
</body>
</html>