<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/summernote/js/summernote-lite.js"></script>
    <script src="/static/summernote/js/summernote-ko-KR.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css">
    <link rel="stylesheet" href="/static/summernote/css/summernote-lite.css">
</head>
<body>
    <textarea id="summernote" name="summer_editor"></textarea>

    <hr>
    <div id="preview_div"></div>

    <script>
        $("#summernote").summernote({
            lang: 'ko-KR',
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            toolbar:[
                ['style',['bold', 'italic', 'underline', 'clear']],
                ['insert',['picture']],
            ]
        });

        $("textarea").on("summernote.change", function(we, contents, $editable) {
            $("#preview_div").html(contents);
            MathJax.typeset();
        });
    </script>
</body>
</html>